<% var title = "show"; var description = "showのdescription"; %> <%
include src/ejs/template/_head %>

<!-- prettier-ignore -->
<h1>
  アバウトページへようこそ！！
</h1>
<a href="/">to top</a>

<% include src/ejs/template/_footer %>
